.gameContainer {
  width: 80vh;
  height: 80vh;
  margin: auto;
  border: 3px solid black;
}

.row {
  width: 100%;
  height: 12.5%;
  display: flex;
}

.col {
  width: 12.5%;
  height: 100%;
  position: relative;
}

.row:nth-of-type(2n) .col:nth-of-type(2n) {
  background-color: burlywood;
}
.row:nth-of-type(2n + 1) .col:nth-of-type(2n) {
  background-color: brown;
}
.row:nth-of-type(2n) .col:nth-of-type(2n + 1) {
  background-color: brown;
}

.row:nth-of-type(2n + 1) .col:nth-of-type(2n + 1) {
  background-color: burlywood;
}

[class^="black"] {
  height: 80%;
  width: 80%;
  margin: 10%;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="white"] > span,
[class^="black"] > span {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
[class^="white"] {
  height: 80%;
  width: 80%;
  margin: 10%;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedTile {
  filter: invert(8%) sepia(100%) saturate(7497%) hue-rotate(249deg) brightness(101%) contrast(143%) opacity(0.25);
}
